# Environment
.env
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Survey results
survey_results/

# IDE
.vscode/
.idea/
*.swp
*.swo
**/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db


